In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

# -----------------------------
# CONFIGURATION
# -----------------------------
num_rows = 200  # number of sales records you want

customers = ["John Smith", "Sarah Lee", "David Kim", "Emily Clark", "Michael Brown"]
regions = ["East", "West", "North", "South"]
products = [
    ("Laptop", "Electronics", 900),
    ("Headphones", "Electronics", 80),
    ("Mouse", "Electronics", 25),
    ("Monitor", "Electronics", 300),
    ("Desk", "Furniture", 200),
    ("Office Chair", "Furniture", 150),
    ("Notebook", "Stationery", 5),
    ("Pen", "Stationery", 1)
]

start_date = datetime(2026, 1, 1)

# -----------------------------
# GENERATE DATA
# -----------------------------
data = []

for i in range(1, num_rows + 1):
    order_date = start_date + timedelta(days=random.randint(0, 60))
    customer = random.choice(customers)
    region = random.choice(regions)
    product, category, unit_price = random.choice(products)
    quantity = random.randint(1, 5)

    data.append([
        i,
        order_date.date(),
        customer,
        region,
        product,
        category,
        quantity,
        unit_price
    ])

# -----------------------------
# CREATE DATAFRAME
# -----------------------------
df = pd.DataFrame(data, columns=[
    "OrderID", "OrderDate", "Customer", "Region",
    "Product", "Category", "Quantity", "UnitPrice"
])

# -----------------------------
# SAVE TO CSV
# -----------------------------
df.to_csv("sales_data.csv", index=False)

df.head()

,OrderID,OrderDate,Customer,Region,Product,Category,Quantity,UnitPrice
0,1,2026-01-30,David Kim,North,Notebook,Stationery,4,5
1,2,2026-01-17,Sarah Lee,North,Headphones,Electronics,4,80
2,3,2026-01-26,Sarah Lee,West,Notebook,Stationery,2,5
3,4,2026-01-07,John Smith,East,Laptop,Electronics,4,900
4,5,2026-01-24,Michael Brown,North,Desk,Furniture,3,200